:root{
    --orange: #F95919;
    --grey: #F5F5F5;
    --grey-ii:#E9E9E9;
    --light-dark:#222222;
    --inactive-grey: #737373;
    --dark:#000000;
    --primary-bg: #f4f7fa;
    --primary: #000051;
    --green: #F5FFFF;
    --primary-light: #CBEAFC;
    --primary-dark: hsl(169, 49%, 10%);
    --primary-darker: #002540;
    --primary-opacity-4: rgba(2, 100, 86, .4);
    --light: #F0FFFD;
    --light-i: hsl(170, 12%, 90%);
    --light-ii: #81FDEA;
    --black: #060d13;
    --blacker: hsl(208, 52%, 10%);
    --white: #FFFFFF;
    --custom-navbar-height: 90px;
    --custom-navbar-brand-width: 200px;
    --slider-inner-width: 2500px;
    --slider-speed: 5s;
    --ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    --ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    --color-base-1: #2e3133;
    --ease-out: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    --navbar-division: 275px;
    --navbar-link-rule: 70px;
    --navbar-engagement-section: 300px;
}
/* Custom Classes */
.haulway-bg-primary {
    background-color: var(--primary);
}
.haulway-bg-grey{
    background-color: var(--grey);
}
.haulway-bg-primary-dark {
    background-color: var(--primary-dark);
}
.haulway-bg-primary-darker {
    background-color: var(--primary-darker);
}
.haulway-bg-light-dark{
    background-color: var(--light-dark);
}
.haulway-bg-dark {
    background-color: var(--dark);
}
.haulway-bg-black {
    background-color: var(--black);
}
.haulway-bg-green{
    background-color: var(--green);
}
.haulway-bg-orange {
    background-color: var(--orange);
}
.haulway-bg-blacker {
    background-color: var(--blacker);
}
.haulway-bg-primary-bg {
    background-color: var(--primary-bg);
}
.haulway-bg-grey-ii{
    background-color: var(--grey-ii);
}
.haulway-w-48 {
    width: 48%;
}
.haulway-bg-light {
    background-color: var(--light);
}
.haulway-bg-light-i {
    background-color: var(--light-i);
}
.haulway-bg-white {
    background-color: var(--white);
}
.haulway-bg-inactive{
    background-color: var(--inactive-grey);
}
.haulway-text-primary {
    color: var(--primary);
}
.haulway-text-inactive{
    color: var(--inactive-grey);
}
.haulway-text-dark {
    color: var(--dark);
}
.haulway-text-light {
    color: var(--light);
}
.haulway-text-black {
    color: var(--black);
}
.xui-navbar[layout="2"] .links{
    justify-content: space-between !important;
    width: 100%;
}
.haulway-heading-text {
    background: linear-gradient(273.94deg, #737373 0.82%, #000000 63.53%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .waitlist-section label{
    position:relative;
    display: block;
    height: 100%;
  } */
  .waitlist-section input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(45%);
  }  
  
  .waitlist-section input:not(.waitlist-section input[type="checkbox"]),
    .waitlist-section textarea,
    .waitlist-section select,
    .waitlist-custom-dropdown{
    width:100%;
    height: 70px;
    padding:15px 15px;
    /* margin-top:20px; */
    border:none;
    outline:none;
    background-color: #D3D3D3;
    color: #737373;
    border-radius: .5rem;
  }
  .waitlist-section input:-webkit-autofill, input:-webkit-autofill:focus input:-webkit-autofill, input:-webkit-autofill:hover, select:-webkit-autofill, select:-webkit-autofill:focus, select:-webkit-autofill:hover, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus{
    background-color: #FFF !important;
    -webkit-text-fill-color: #000
  }
  .waitlist-other-input {
    display: flex;
    align-items: center;
}

.waitlist-other-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.waitlist-back-arrow {
    margin-left: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
  .pagination-indicator{
    width: 32px;
    height: 7px;
    border-radius: 2rem;
    background-color: #D3D3D3;
    transition: .5s ease;
  }
  .pagination-indicator.active{
    background-color: #141414;
    width: 60px;
  }
  .waitlist-custom-dropdown {
    position: relative;
}

.waitlist-dropdown-header {
    height: 100%;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.waitlist-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    /* border-radius: 1rem; */
    background: #F5F5F5;
    z-index: 1;
}

.waitlist-dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.waitlist-dropdown-item input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.waitlist-dropdown-item input:checked {
    background-color: #333;
    border-color: #333;
}

.waitlist-dropdown-item input:checked::before {
    content: "✔";
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}
.waitlist-dropdown-item input[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.waitlist-dropdown-header .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.2s;
}

.waitlist-dropdown-header .arrow.open {
    transform: rotate(-135deg);
}

.xui-navbar .brand{
    width: auto;
}

.footer-input-email-holder input, .footer-input-email-holder button{
    border: 1px solid #000;
    padding: 0.8rem 0.8rem 0.8rem 2rem;
    border-radius: 2rem;
    width: 100%;
    display: block;
    font-size: 90%;
}
.footer-input-email-holder button{
    background-color: #000;
    color: #FFF;
    border: none;
}
.xui-navbar{
    background-color: #FFF;
    position: fixed;
}
.xui-navbar[layout="2"] .links{
    justify-content: flex-end;
}

.haulway-loader{
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.main-footer-input{
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 1.5rem;
}
.main-footer.control{
    margin-top: 5rem;
}
.main-footer-input input{
    color: #000;
}
.main-footer-input .footer-input-email-btn{
    background-color: #000;
    color: #FFF;
    border-radius: 1.2rem;
    margin: .5rem;
}
.faq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--grey);
}
.faq-question, .faq-answer{
    transition: .5s ease;
}
.faq:hover{
    background-color: var(--dark);
}
.faq:hover .faq-question{
    background-color: var(--light-dark);
    color: #FFF;
}
.faq:hover .faq-answer{
    background-color: var(--dark);
    color: #FFF;
}
.cta-tab-holder{
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    position: relative;
    z-index: 1;
    width: 100%;
}
.cta-tab-paragraph{
    max-width: 350px;
}
.coming-soon{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-tab-btn-holder{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
    max-width: 300px;
    grid-gap: 1rem;
    justify-content: center;
}
.xui-img-80{
    max-width: 80px;
}
.haulway-body-section section{
    background-color: #FFF;
    /* overflow-y: auto; */
}
.cta-tab-btn{
    padding: 0.5rem 2rem;
    display: inline-block;
    font-size: 85%;
    border: none;
    outline: none;
    border-radius: .5rem;
}
.xui-line-height-6-half{
    line-height: 6.5rem;
}
.xui-line-height-2-half{
    line-height: 4.2rem;
}
.haulway-loader-logo-holder {
    animation-name: loaderScale;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.swiper-button-disabled{
    opacity: 0;
}
.xui-visibility-hidden{
    visibility: hidden;
}
.xui-flex-as-flex-end{
    align-self: flex-end;
}
.half-radius{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.gradient-stroke{
    display: inline-block;
}
.gradient-stroke.stroke1 {
    max-width: 50px;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.gradient-stroke.stroke2 {
    max-width: 120px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    z-index: -1;
}
.gradient-stroke.stroke3 {
    max-width: 50px;
    bottom: 0;
    right: 0;
    z-index: -1;
}

input {
    border: 1.2px solid rgba(0, 0, 0, .2);
    outline: none;
}
#letter {
    position: fixed;
    left: 0;
    bottom: -160%;
    height: 100vh !important;
    transition: 1.5s;
}
#letter.animate {
    bottom: 0;
}
.cta-tab-holder.position{
    top: 1rem;
}

@keyframes loaderScale {
    from {
        transform: scale(.9);
    }
    to {
        transform: scale(1);
    }
}
@media screen and (max-width: 768px) {
    .xui-mobile-font-sz-65{
        font-size: 65%;
    }
    .xui-mobile-font-sz-80{
        font-size: 80%;
    }
    .xui-mobile-font-sz-85{
        font-size: 85%;
    }
    .xui-mobile-font-sz-120{
        font-size: 120%;
    }
    .xui-mobile-font-sz-120{
        font-size: 120%;
    }
    .xui-navbar .brand{
        z-index: 11;
    }
    .xui-navbar .links ul li a.active-link{
        background-color: #000;
        color: #FFF;
        padding: 10px 10px;
        border-radius: .5rem;
    }
    .xui-img-80{
        max-width: 50px;
    }
    .stroke svg{
        width: 180px;
    }
    .xui-navbar .links .main ul li{
        border-bottom: 1px solid #e9dede;
        text-align: left;
    }
    .xui-navbar .links .main ul li a{
        text-align: left !important;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cta-tab-holder{
        max-width: 100%;
        flex-wrap: wrap;
        padding-bottom: 1.5rem;
        /* top: 12rem; */
    }
    .cta-tab-holder.position{
        top: 10rem;
    }
    .cta-tab-holder .cta-tab-paragraph, .cta-tab-btn-holder{
        max-width: 100%;
    }
    .cta-tab-btn-holder{
        justify-content: flex-start;
    }
    .cta-tab-btn{
        padding: 0.5rem 1rem;
        font-size: 70%;
        font-weight: 600;
    }
    .xui-line-height-6-half,
    .xui-line-height-2-half{
        line-height: 2.8rem;
    }
    .main-footer.control{
        margin-top: 9rem;
    }
}
@media screen and (max-width: 820px) {
    
}